@font-face {
  font-family: 'shitisemi';
  src: url('../../assets/shiti-semibold.ttf') format('truetype');
  font-weight: 800;
}

.section {
  /* --safe-area-inset-bottom: env(safe-area-inset-bottom); */
  /* --safe-area-inset-top: env(safe-area-inset-top); */
  /* height: calc(100vh - var(--safe-area-inset-bottom) - var(--safe-area-inset-top)); */
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  /* box-sizing: border-box; */
  /* margin-bottom: var(--safe-area-inset-bottom); */
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

.pt-1rem {
  padding-top: 1rem;
}

.pl-1rem {
  padding-left: 1rem;
}

.pr-1rem {
  padding-right: 1rem;
}

.scene-home-before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: center / cover no-repeat url('../../assets/bg-0-before.jpeg');
}

.scene-home-after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: center / cover no-repeat url('../../assets/bg-0-after.jpeg');
}

.el-indicator {
  position: absolute;
  bottom: 1rem;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
  animation-duration: 2s;
  z-index: 1;
}

.scene0 {
  background: center / cover no-repeat url('../../assets/bg-morning.jpeg');
}

.scene0 .el-subway {
  width: 200%;
  transform: translateX(-100%);
}

@keyframes lr-circle {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.lr-circle {
  -webkit-animation-name: lr-circle;
  animation-name: lr-circle;
  animation-duration: 4s;
  /* animation-delay: 1s; */
}

.subway-container {
  position: absolute;
  overflow: hidden;
  width: 35%;
  top: 25%;
  left: 21.2%;
}

div.textarea {
  position: relative;
  background: url('../../assets/textarea.png') no-repeat;
  background-size: 100%;
  font-family: 'shitisemi';
  color: #282c34;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

div.textarea:before {
  content: '';
  display: block;
  padding-top: 37%;
}

.abs-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-wrapper span {
  margin: 0 1.2rem;
}

.scene1 {
  background: center / cover no-repeat url('../../assets/bg-mobile.jpg');
}

.el-coffee {
  position: absolute;
  width: 40%;
  left: 10%;
  bottom: 34%;
}

.el-scan {
  position: absolute;
  bottom: 0%;
  left: 30%;
  width: 50%;
}

.scene2 {
  background: center / cover no-repeat url('../../assets/bg-scene2.jpeg');
}

.el-subway2 {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 13%;
}

.el-bus {
  position: absolute;
  width: 64%;
  right: 4%;
  /* left: 32.4%; */
  top: 29%;
}

.el-bike {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 70%;
}

.scene3 {
  background: center / cover no-repeat url('../../assets/bg-scene3.jpeg');
}

.el-takeaway {
  position: absolute;
  width: 90%;
  left: 0%;
  top: 35%;
}

.el-takeaway-text {
  position: absolute;
  width: 30%;
  left: 10%;
  top: 25%;
}

@keyframes takeaway-arrive {
  from {
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    transform: translate3d(0,0,0);
  }
}

.takeaway-arrive {
  -webkit-animation-name: takeaway-arrive;
  animation-name: takeaway-arrive;
}

.scene4 {
  background: center / cover no-repeat url('../../assets/bg-scene4.jpeg');
}

.scene4 .el-subway3 {
  width: 200%;
  transform: translateX(50%);
}

@keyframes rl-circle {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-150%);
  }
}

.rl-circle {
  -webkit-animation-name: rl-circle;
  animation-name: rl-circle;
  animation-duration: 4s;
}

.scene5 {
  background: center / cover no-repeat url('../../assets/bg-scene5.jpeg');
}

.el-hand {
  position: absolute;
  width: 52%;
  left: 15%;
  bottom: 0%;
}

.scene6 {
  background: center / cover no-repeat url('../../assets/bg-scene6.jpeg');
}

.el-hand2 {
  position: absolute;
  width: 84%;
  left: 50%;
  transform: translate3d(-50%,0,0);
  bottom: 0%;
}

@keyframes slideInCenterUp {
  from {
    transform: translate3d(-50%,100%,0);
  }
  to {
    transform: translate3d(-50%,0,0);
  }
}

.slideInCenterUp {
  -webkit-animation-name: slideInCenterUp;
  animation-name: slideInCenterUp;
}

.scene7 {
  background: center / cover no-repeat url('../../assets/bg-scene7.jpeg');
}

.scene7 * {
  user-select: none;
}

.el-letter {
  position: absolute;
  width: 100%;
  right: -2%;
  bottom: 0%;
}

.letter-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../../assets/letter.png') no-repeat;
  background-size: contain;
  /* background-position-y: bottom; */
  background-position: center bottom;
}

.el-confirm {
  position: absolute;
  width: 40%;
  height: 10%;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../../assets/confirm-btn.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
  user-select: none;
}

.el-confirm.touch {
  background: url('../../assets/confirm-btn_touch.jpg') no-repeat; 
  background-size: contain;
  background-position: center bottom;
}

@keyframes rotateUp {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    opacity: 1;
  }
}

.rotateUp {
  -webkit-animation-name: rotateUp;
  animation-name: rotateUp;
}



.scene8 {
  background: center / cover no-repeat url('../../assets/bg-scene8.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'shitisemi';
}

.d-title {
  position: absolute;
  font-size: 2rem;
  top: 20%;
}

.iyrics-container {
  position: absolute;
}

.d-save-btn {
  position: absolute;
  left: 0;
}

.d-save-btn img {
  width: 33%;
}

.d-func-btns {
  position: absolute;
  left: 0;
}

.d-func-btns img {
  width: 38%;
}

.slide-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tag-container {
  position: relative;
  margin: 0 auto;
  /* top: 49%; */
  /* 下面三个比例均为相对信纸元素尺寸 */
  top: 46%;
  height: 25.1%;
  /* width可能会变 */
  width: 82.2%;
  transform: translateX(-1rem);
}

.str_move {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: move;
}

.tag-row {
  position: relative;
}

.tag-container .tag-item {
  display: inline-block;
  width: 6rem;
  height: 2rem;
  line-height: 2rem;
  background: center / cover url('../../assets/tag.png') no-repeat;
  font-size: 0.8rem;
  margin-left: 0.8rem;

  width: 7.5em;
  height: 2.5em;
  line-height: 2em;
  font-size: 0.8em;
  margin-left: 0.8em;
}

.tag-click {
  background-color: red;
}

.margin-row {
  margin-left: 50px;
}

/* 自定义歌曲名输入框 */
.input-container {
  width: 8em;
  margin: 0 auto;
  background: center / contain url('../../assets/input.png') no-repeat;
  height: 26%;
}

.input-container input[type='text'] {
  user-select: auto;
  width: 8em;
  /* height: 2rem; */
  height: 100%;
  line-height: 2em;
  background: transparent;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.8em;
  color: black;
  border: none;
  padding: 0;
  text-align: center; /* 居中显示 */
}

/* 标签选中的样式 */
.active {
  color: #e2806a;
  font-weight: bold;
}

.none {
  display: none;
}
